@charset       "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(ftp://), url-prefix(file://), url-prefix(https://) {
	html * ,body a {
		font-family:Verdana,Arial,sans-serif !important;
		cursor:pointer !important;
		pointer-events:inherit !important;
		-moz-user-select:inherit !important;
	}
}
