@charset       "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(ftp://), url-prefix(file://), url-prefix(https://) {
	img,picture,video,object,[itemprop="image"],[itemprop="photo"],[itemprop="associatedMedia image"],[itemtype="http://schema.org/image"],[itemtype="http://schema.org/ImageObject"],[itemtype="http://schema.org/photo"]{
		width:0 !important;height:0 !important;
		display:none !important;
	}
}
