@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.tabbrowser-tab .tab-icon-image {
display: inherit !important;
}

.tabs-bottom {
  display: -moz-box !important;
  -moz-appearance: none !important;
  height: 3px !important;
  background: url("chrome://browser/skin/tabbrowser/tabstrip-bottom.png") !important;
  -moz-border-top-colors: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.5) !important;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.5) !important;
  border-left: none !important;
}

.tabbrowser-tab[selected="true"] {
   opacity: 1 !important;
  -moz-box-shadow: rgba(0, 0, 0, 255) 0px 3px 8px -4px !important;
}

/* fix non-selected tab alignment and borders */

.tabs-container[overflow="true"],
.tabs-newtab-button,
.tabbrowser-tab
{
   opacity: 0.4 !important;
   background: none !important;
   /*padding-left: 2px !important;*/
}

/*.tabbrowser-tab:not([selected="true"]),*/
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
  margin-top: 5px !important;
  padding-top: 2px !important;
  border: 1px solid !important;
  border-bottom: 0px solid !important;
  opacity: 0.2 !important;
  -moz-border-top-colors: rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.8) !important;
  -moz-border-right-colors: rgba(0, 0, 0, 0.4) rgba(255, 255, 255, 0.3) !important;
  -moz-border-left-colors: rgba(0, 0, 0, 0.4) rgba(255, 255, 255, 0.3) !important;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.4) !important;
}

.tabbrowser-tabs *|tab {
    font-size: 12px !important;
    height:    20px !important;
    min-width: 2px !important;
    max-width: 34px !important;}

window:not([inFullscreen]) #navigator-toolbox[tabsontop="true"] #TabsToolbar {
    margin-top: -20px !important;
    -moz-box-ordinal-group: 1 !important;
}

window:not([inFullscreen])[sizemode="normal"] #navigator-toolbox[tabsontop="true"] #TabsToolbar {
    padding-left: 105px !important;
    padding-right: 103px !important;
}

window:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox[tabsontop="true"] #TabsToolbar {
    padding-left: 105px !important;
    padding-right: 117px !important;
}

window:not([inFullscreen]) #navigator-toolbox[tabsontop="true"]
            #toolbar-menubar[autohide="true"]:not([inactive]) {
    -moz-box-ordinal-group: 2 !important;
    -moz-appearance: toolbox !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
}

window:not([inFullscreen]) #navigator-toolbox[tabsontop="true"]
            #toolbar-menubar[autohide="true"]:not([inactive]) * {
    color: black !important;
}

#TabsToolbar > toolbarbutton > image {
    margin-bottom:-1px !important;
}

#tabbrowser-tabs tab[selected]:not([pinned]) {
    min-width: 1px !important;
    max-width: 200px !important;
}

#tabbrowser-tabs tab[pinned] .tab-icon-image {
    margin-top: 3px !important;
}

#tabbrowser-tabs tab[pinned] {
    max-height: 19px !important;
    max-width: 35px !important;
}

#tabbrowser-tabs toolbarbutton.scrollbutton-up,
#tabbrowser-tabs toolbarbutton.scrollbutton-down {
    display: none !important;
}

.tabbrowser-tabs tab .tab-close-button .toolbarbutton-icon,
.tabbrowser-tabs tab .tabs-closebutton .toolbarbutton-icon
{
display: none !important;
}
.tabbrowser-tabs tab[selected]:hover .tab-close-button .toolbarbutton-icon,
.tabbrowser-tabs tab[selected]:hover .tabs-closebutton .toolbarbutton-icon
{
display: -moz-box !important;
}
