/*AGENT_SHEET*/
#main-window #navigator-toolbox #TabsToolbar .tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover)
{
    /* original has a white pixel at the right edge: background-size: 95% 100%; */
    background-size: 97% 100% !important;
    /* change background to a more visible highlighting */
    background-image: linear-gradient(to top, rgb(149, 188, 255), rgb(226, 234, 242)) !important;
}
#main-window #navigator-toolbox #TabsToolbar .tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) > .tab-stack > .tab-content
{
    /* remove little radial-gradient in the bottom centre */
    background-image: none !important;
}

/* i really want this to be global */
