@charset       "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("http://www.quora.com/"){
	body {background-color:#efefef !important;}
	.logo a{padding-left:20px !important; padding-right:20px !important;background-color:#A82400 !important;}
	strong {font-weight: normal !important;}
	.header {background-color:#efefef !important; padding-top:20px !important;}
	.search_input{margin-left:30px !important; background-color:#fff !important;margin-top:-6px !important; width:530px !important;}
	.input_wrapper{padding:6px 5px 6px 5px !important;background-color:#fff !important; width:520px !important;}
	/* all main feed area */
	.feed_item {font-size:130% !important;margin:15px 0 !important;padding-bottom:20px !important;}
	.feed_item_question{padding-bottom:10px !important; font-weight:normal !important;}
	.feed_item_answer_user{ font-size:100% !important;font-weight:normal !important;}

	span.answer_voters a{font-size:100% !important; line-height:1.3 !important; color:#999 !important;}
	.item_action_bar{font-size:90% !important;padding-top:15px !important;}
	.item_action_bar a{color:#999 !important;}
	.feed_item_answer_content, .feed_item_question_details{line-height:1.6 !important;}

	.feed_item_answer{margin-left:-30px !important;}
	.rating_buttons{padding-right:5px !important;padding-top:5px !important; font-size:80% !important;}
	a.feed_load_new_button{margin-top:20px !important; background-color:#ddd !important;width:607px !important;}
	.pagedlist_item{width:627px !important; padding:0 !important; margin:0 !important;}

	.meta_item_text{font-size:90% !important;}


	/*Question link */
	.question_link{font-weight: bold !important; font-size:120% !important; line-height:1.4 !important; color:#000 !important;}
	.question_link:hover{color:#19558D !important;text-decoration:none !important;}

	/*Add post buttons on top */
	.action_button{font-weight: normal !important;padding:7px !important;background-color:#fff !important;}

	.add_content_buttons a, .action_button, .follow_button{background:none !important; -webkit-box-shadow: none !important;-moz-box-shadow: none !important; box-shadow: none !important;}
	.follow_button{border: 1px solid #999 !important; color:#555 !important;font-weight:normal !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important; box-shadow: none !important;padding:7px !important;background-color:none !important;}


	/*Each feed item */
	.feed_item {background-color:#ffffff !important; border:#ddd 1px solid !important;  padding:35px 50px 30px 25px !important; padding-left:90px !important;margin-bottom:5px !important;}


	/* line below top stories most recent links */
	.horizontal_tabs, .heading{border-bottom:0px !important;margin-bottom:0px !important;padding-bottom:0px !important;}

	.feed_item_photo{margin-left:90px !important; margin-top:40px !important;}
	.feed_item_promoted_icon{margin-right:10px !important; }

	.feed_item_title a{font-weight:normal !important; padding-bottom:0 !important;}
	.feed_item_reasons_user{font-size:80% !important; color:#999 !important; }
	.feed_item_reasons_user a{color:#999 !important;}
	.light_gray{font-size:80% !important;}
	.timestamp{font-size:100% !important;}

	.main_col, .footer_nav{margin-left:-60px !important;}
	.footer_nav a{font-weight:normal !important;}
	.search_input .hidden{margin-left:100px !important; }
	.results_tray{margin-top:-5px !important;background-color:#444 !important;}
	.text{margin-left:60px !important;}

	/*side col */
	.side_col a{font-weight:normal !important;}
	.linked_list_item{background-color:transparent !important;}
	.link {background-image:none !important;}
	.inline_editor_edit, .edit{background-position:-3px !important;}
	.linked_list_item .selected {background-color:transparent !important;color: #A82400 !important;}
	.linked_list_item_header {background-color:transparent !important; font-weight:bold !important;}
	.linked_list_item_header strong{font-weight:bold !important;}

	.side, .side_col{opacity:.2 !important;}
	.side:hover, .side_col:hover{opacity:1 !important;
	-webkit-transition: all .1s ease-in-out;
	 -moz-transition: all .1s ease-in-out;
	 -o-transition: all .1s ease-in-out;
	 -ms-transition: all .1s ease-in-out;
	 transition: all .1s ease-in-out;}


	.auto_board_preview_item, .board_item{background-color:#fff !important;}

	.more_link{font-weight:normal !important; font-size:105% !important;}

	/* FINAL question page */
	.w6_5{margin-left:-110px !important; }
	.question{font-size:110% !important; line-height:1.3 !important;}
	.answer_header_row{font-size:150% !important;}
	.answer_border {font-size:120% !important; line-height:1.5 !important; background-color:#ffffff !important; border:#ddd 1px solid !important;  padding:35px 20px 30px 25px !important; padding-left:60px !important;
	 margin-bottom:20px !important;margin-left:40px !important; margin-top:-85px !important; }
	.answer_text{border-top:none !important;padding-top:0 !important; }
	.answer_rating{padding-top:40px !important; margin-left:-5px !important;}
	.row .item_action_bar a{font-size:100% !important;background-position: 0 2px !important;}
	.repost_link{background-position: 0 4px !important;}
	.bullet{visibility:hidden !important; padding-right:4px !important;}
	.question_text{border-bottom:0px !important;margin-bottom:10px !important;padding-bottom:0px !important;}

	.rating_options{margin-top:-5px !important;}



	/* topic page */

	.w7{margin-left:-60px !important;}

	#feed{border-top:none !important;}
	#feed .side_col{margin-right:-100px !important;}
	#feed .search_contents{margin-left:-35px !important;}
	#feed .search_input{width:625px !important;}
	#feed .input_wrapper{width:615px !important;}
	#feed .topic_search{width:627px !important;}
	#feed .feed_item{padding-bottom:45px !important;}

	#questions .feed_item {padding:15px 15px 15px 25px !important; font-size:90% !important;}

	#questions .topic_open_questions_feed{width:332px !important;}


	/* Profile */
	.profile-contents .pagedlist_item{font-size:120% !important;}

	/* answer on question page */
	.w6 .question{margin-left:-110px !important;}
	.inline_editor_value h1{font-size:150% !important;}
	.submit_button {font-weight:normal !important;}
	.col .row_border{margin-left:-110px !important;border-top:none !important;}
	.w6 .answer_rating{margin-left:-55px !important;}
	.w6 .answer_border{margin-left:-5px !important;}
	.w2_5 .feed_item_answer{margin-left:0px !important;}


	/*Boards */
	.full_board_item {font-size:130% !important;margin:15px 0 !important;padding-bottom:20px !important;}
	.full_board_item{background-color:#ffffff !important; border:#ddd 1px solid !important;  padding:35px 50px 30px 25px !important; padding-left:90px !important;margin-bottom:5px !important;margin-left:-60px !important;}

	.board_blog_item {font-size:120% !important; background-color:#ffffff !important; border:#ddd 1px solid !important;  padding:35px 50px 30px 25px !important; padding-left:90px !important;margin-top:10px !important; margin-bottom:10px !important;}
	.board_blog_item .item_action_bar{border-bottom:none !important;}


	/*profile */
	.profile_feed_item{font-size:130% !important; margin:20px 0 10px 0 !important; padding: 20px 40px 20px 80px !important; border-color:#999 !important; }
	.w6_5{opacity:1 !important;}
	.profile_feed_item_content .feed_item_answer{margin-left:0px !important;}
	.profile_feed_item_content .row .item_action_bar{margin-bottom:40px !important;}
}
