@-moz-document url-prefix("http://stackoverflow.com/questions/"), url-prefix("http://stackoverflow.com/search?") {
body {
  color: #333 !important;
  font-size: 16px !important;
}

#header {
 height: 60px !important;
 overflow: hidden !important;
 opacity: 0 !important;
 transition: all ease .3s !important;
 -webkit-transform: rotateZ(0) !important;
}

#header:hover {
 height: auto !important;
 overflow: auto !important;
 opacity: 1 !important;
}

#content p {
  line-height: 1.5 !important;
  margin-bottom: 2em !important;
}

#content .votecell,
#content .fw,
#content .started.fr {
  opacity: .2 !important;
  transition: opacity ease .3s !important;
}

#content .votecell:hover,
#content .fw:hover,
#content .started.fr:hover {
  opacity: 1 !important;
}


#sidebar {
  font-size: 12px !important;
  opacity: .5 !important;
}

#sidebar a:link {
  color: #aaa !important;
  transition: all ease .3s !important;
}

#sidebar:hover {
 opacity: 1 !important;
}

#sidebar:hover a:link {
  color: inherit !important;
}

#footer,
#post-form {
 display: none !important;
}

#question-header,
#question-header h1 {
  font-size: 18px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
  border: none !important;
}

#question-header a {
 color: inherit !important;
}

pre {
  padding: 24px !important;
  background-color: #fafafa !important;
  border: 1px solid #eee !important;
}

pre code {
  background-color: transparent !important;
}

.pln {
  color: #444 !important;
}

.kwd {
  color: #E44A0E !important;
}

.bottom-notice {
  opacity: .2 !important;
  font-size: 100% !important;
}

.module.community-bulletin {
  background-color: transparent !important;
  border: none !important;
}

.question-summary.search-result {
  font-size: 14px !important;
}

.search-results .result-link {
  margin-bottom: 8px !important;
}

.question-hyperlink,
.search-results .result-link a {
  color: #333 !important;
}

.question-summary .excerpt {
  color: #aaa !important;
  line-height: 1.4 !important;
}

.question-summary .excerpt .result-highlight {
  color: #888 !important;
}

a.post-tag {
  color: #aaa !important;
  background-color: #EFF6F7 !important;
  border: 1px solid #eee !important;
}

.status,
.status strong,
.unanswered,
.unanswered strong,
.vote-count-post,
.answered,
.answered strong,
.unanswered,
.unanswered strong,
.answered-accepted,
.answered-accepted strong {
  background: transparent !important;
  color: #333 !important;
}
}
