@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(https://www.readability.com/articles){
	#readability,BODY
	{background-image:none !important}
	#article-entry-title
	{margin-top:-20px !important;
	 text-align:center !important}
	#rdb-article
	{width:100% !important;
	 margin-left:-20px !important}
	#rdb-article-content>DIV
	{margin-top:-20px !important}
	#rdb-article-content
	{text-align:justify !important}
	BLOCKQUOTE{color:black !important}
	#rdb-article-tools,#logo,#sidebar-hide-link
	{left:-200px !important}
	#pitch,#reader-pitch,#login-pitch,
	#rdb-article-meta,#article-url,
	#legacy-bkmk,.flourishes,#svluUnder
	{display:none !important}
}
