@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("en.wikipedia.org") {
	.portal,
	#left-navigation,
	#right-navigation li,
	#siteNotice,
	#footer,
	a[title="Learn about new features"],
	.vectorTabs,
	#p-logo  {
	display: none !important;
	}

	body {
	background: #f5f5f5 !important;
	}

	#head {
	left: 50px !important;
	right: 50px !important;
	width: auto !important;
	height: 61px !important;
	padding-top: 10px !important;
	}

	#head-base,
	#page-base,
	#mw-head-base,
	#mw-page-base {
	height: 100px !important;
	background: transparent !important;
	}

	#right-navigation {
	position: absolute !important;
	top: -5px !important;
	left: 240px !important;
	margin-top: 20px !important;
	}

	#p-personal {
	margin-top: 20px !important;
	}

	#panel,
	#mw-panel {
	padding: 0 !important;
	top: 10px !important;
	left: 50px !important;
	width: 60px !important;
	height: 60px !important;
	}

	#searchform {
	margin-left: 30px !important;
	}

	#simpleSearch label {
	top: 2px !important;
	}

	#content {
	width: auto !important;
	padding: 22px 30px !important;
	margin: 0 50px !important;
	background: #f0f0f0 !important;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.17) !important;
	font-family: Calibri, Helvetica, Arial, sans-serif !important;
	}

	#siteSub {
	color: #888 !important;
	font-size: 11px !important;
	line-height: 1.5 !important;
	}

	#bodyContent {
	font-size: 16px !important;
	}

	#bodyContent p {
	margin: 19px 0 !important;
	line-height: 1.5 !important;
	margin: 0.5em 0 1em !important;
	}
}
