@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Tab Color Underscoring active/read/unread for Fx3.6 with an extension  (DM) */
/* =========================================================================== */
/* 24728 is a Firefox 3.6 replacement for style 9023 - Tab Color markings active/read/unread (DM*) */
/* David McRitchie, modified 9023 (2008-07-24) to work with Firefox 3.6  */
/* requires  dickyv extension see https://bugzilla.mozilla.org/show_bug.cgi?id=487242 */
/* hopefully the code in extension will be included into Firefox */
/* Modification of Style 9028 due to Firefox 3.6 see style notes for 24728 */
/* Modifications since  2010-01-31                               */
/* 2010-02-07 color loading/reloading tab                        */
/* 2011-04-11 all borders to work in 4.0, see only bottom in 3.6 */

/* Change text and underline color of unread tabs - GREEN */
/* http://kb.mozillazine.org/Change_the_style_of_tab_markers */
 .tabbrowser-tab:not([visited]) {
  color: #005500 !important;
  border: 1px solid #00BB00  !important;
  border-bottom: 2px solid #00BB00  !important;}

/* Change underline color of normal tabs  - BLUE */
.tabbrowser-tab[visited="true"] {
   border: 1px solid #0066CC   !important;
   border-bottom: 2px solid #0066CC   !important;
   color: black !important; }

/* Change underline color of active tab  - RED */
.tabbrowser-tab[selected="true"] {
   border: 1px solid #FF0000   !important;
   border-bottom: 2px solid #FF0000   !important;
   color: #000000 !important; }

/* Change text color of loading/reloading tab - Magenta */
.tabbrowser-tab[busy]{
   border: 1px solid #FF00FF   !important;
   border-bottom: 2px solid #FF00FF   !important;
   color: #000000 !important; }
