@charset       "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(ftp://), url-prefix(file://), url-prefix(https://) {
	html * {background:#f1f1f1 !important;color:#444 !important;}
}
