@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("wikipedia.org") {
	* { text-align: justify; }

	.mediawiki {
		background-color: #999999 !important;
		background-image: none !important;
		padding-top: 20px; }

	#content {
		-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-top-right-radius: 8px;
			border-bottom-left-radius: 8px;
		border-color: #E3E3E3 !important;
		border-width: 1px !important; }

	a { color: #295490 !important; }

		a.external img { display: none !important; }

	a[href^="#cite_ref"] { display: none !important; }

	.firstHeading {
		border-bottom: none !important;
		letter-spacing: 2px;
		padding-bottom: 16px !important;
		padding-top: 20px !important; }

	h2 {
		border-bottom: none;
		font-size: 140%;
		padding-right: 18px;
		padding-top: 10px;
		width: 520px; }

	p {
		font-size: 115%;
		padding-right: 18px; }

	dl {
		font-size: 115%;
		padding-bottom: 5px; }

	blockquote { padding-bottom: 3px; }

		blockquote > p { font-size: 125%; }

	table[id]:not([id='cquote']) { display: none !important; }

	#siteSub { display: none !important; }

	img { display: none !important; }

	.noprint, .vertical-navbox { display: none; }

	.editsection { display: none !important; }

	.thumbinner { display: none !important; }

	.toc, .infobox, .vcard, .metadata { display: none !important; }

	#p-cactions, #p-personal { display: none !important; }

	#p-logo, #p-navigation, #p-search, #p-interaction, #p-tb, #p-lang { display: none !important; }

	.catlinks { display: none !important; }

	.navbox { display: none !important; }

	.reference, .Template-Fact, .Inline-Template { display: none !important; }

	#contentSub, .dablink, #siteNotice { display: none !important; }

	.rellink { display: none !important; }

	#footer { display: none !important; }

	#noarticletext_technical { display: none !important; }

	#noarticletext > ul { display: none !important; }

	.mw-magiclink-isbn {
		font-family: monospace !important;
		font-size: 80%;
		padding-left: 2px; }

	body {
		background: #CBCBCB !important;
		width: 840px; }

	.references-small, .references-column-count, .references-column-count-4 { display: none !important; }

	.mw-headline[id^="Notes"] { display: none !important; }

	.MainPageBG { display: none !important; }
}
