@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("en.wikipedia.org") {
	#content {
		background-color: #f0f0f0;
		font-family: Helvetica, Arial, sans-serif;
	}
	#bodyContent {
		font-size: 15px !important;
		max-width: 800px;
	}
	#bodyContent p {
		margin: 0.5em 0 1em;
		max-width: 550px;
	}
}
